<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Homepage" patternSyntax="ExactMatch">
                    <match url="home.ss" />
                    <action type="Rewrite" url="index.php?px=1" />
                </rule>
                <rule name="Register" patternSyntax="ExactMatch">
                    <match url="register.ss" />
                    <action type="Rewrite" url="index.php?px=2" appendQueryString="false" />
                </rule>
                <rule name="Downloads" patternSyntax="ExactMatch">
                    <match url="downloads.ss" />
                    <action type="Rewrite" url="index.php?px=3" appendQueryString="false" />
                </rule>
                <rule name="Register2" patternSyntax="Wildcard">
                    <match url="finish-*-*" />
                    <action type="Rewrite" url="index.php?px=2&amp;authAcc={R:1}&amp;authKey={R:2}" logRewrittenUrl="true" />
                </rule>
                <rule name="Login" patternSyntax="ExactMatch">
                    <match url="login.ss" />
                    <action type="Rewrite" url="inc/sysfiles/cfiles/ulogin.php?a=1" logRewrittenUrl="true" />
                </rule>
                <rule name="Logout" patternSyntax="ExactMatch">
                    <match url="logout.ss" />
                    <action type="Rewrite" url="inc/sysfiles/cfiles/ulogin.php?a=0" logRewrittenUrl="true" />
                </rule>
                <rule name="cphome" patternSyntax="ExactMatch">
                    <match url="cphome.ss" />
                    <action type="Rewrite" url="index.php?px=10" logRewrittenUrl="true" />
                </rule>
                <rule name="chpasswd" patternSyntax="ExactMatch">
                    <match url="chpasswd.ss" />
                    <action type="Rewrite" url="index.php?px=11" logRewrittenUrl="true" />
                </rule>
                <rule name="Ranking" patternSyntax="Wildcard">
                    <match url="ranking-*.ss" />
                    <action type="Rewrite" url="index.php?px=4&amp;c=0&amp;t={R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="Ranking 2" patternSyntax="Wildcard">
                    <match url="rankingpvp-*.ss" />
                    <action type="Rewrite" url="index.php?px=4&amp;c=1&amp;t={R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="Characters" patternSyntax="ExactMatch">
                    <match url="characters.ss" />
                    <action type="Rewrite" url="index.php?px=12" logRewrittenUrl="true" />
                </rule>
                <rule name="Catalog" patternSyntax="Wildcard">
                    <match url="catalog-*-*.ss" />
                    <action type="Rewrite" url="index.php?px=13&amp;cat={R:1}&amp;p={R:2}" logRewrittenUrl="true" />
                </rule>
                <rule name="Catalogbuy" patternSyntax="Wildcard">
                    <match url="catalogbuy-*-*.ss" />
                    <action type="Rewrite" url="index.php?px=14&amp;cat={R:1}&amp;id={R:2}" logRewrittenUrl="true" />
                </rule>
                <rule name="AddPoints" patternSyntax="Wildcard">
                    <match url="addpoints.ss" />
                    <action type="Rewrite" url="index.php?px=15" logRewrittenUrl="true" />
                </rule>
                <rule name="PaymentSuccess" patternSyntax="Wildcard">
                    <match url="success.ss" />
                    <action type="Rewrite" url="index.php?px=16" logRewrittenUrl="true" />
                </rule>
                <rule name="Paymentcancel" patternSyntax="Wildcard">
                    <match url="cancel.ss" />
                    <action type="Rewrite" url="index.php?px=17" logRewrittenUrl="true" />
                </rule>
                <rule name="PaymentNotify" patternSyntax="Wildcard">
                    <match url="notify.ss" />
                    <action type="Rewrite" url="index.php?px=18" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
